header {
    display: flex;
    
    align-items: center;
    padding: 0 80px;
    gap: 102px;

    height: 128px;
    top: 0;
    left: 0;
    right: 0;

    background-color: #4EA487;
    font-family: "Arima", system-ui;
}

.navbar {
    display: flex;
    gap: 72px;    
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;    
}

.navbar a:hover {
    text-decoration: underline;
}