body {
    margin: 0px;
}

.yellow-block {
    background-color: #F1C953;
    background-size: cover;
    height: 100vh;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 80px;
    gap: 102px;

    height: 152px;

    background-color: #4EA487;
    font-family: "Arima", system-ui;
}

.footer-links {
    display: flex;
    gap: 72px;
}

.footer-links a {
    color: white;
    font-family: "Palanquin", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
}

.sm-links {
    display: flex;
    gap: 16px;
}

h2 {
    font-family: "Arima", system-ui;
    font-weight: 700px;
    text-align: center;
    color: #4EA487;
}